p{
 font-family:Helvetica;
 color:#0066ff;
 font-size:20px;
}
img{
 height:300px;
 width:350px;
 border:2px dashed #000099;
}
body{
 background-color:#ccffff;
 padding-top: 70px;
}
a{
 color:red;
}
a:hover{
 font-family:Verdana;
 color:purple;
}
