#intro{
 font-family:"Times New Roman";
 color: orange;
 border:5px dotted #00cc00;
 border-radius:20px;
 text-align:center;
}
p{
 font-family:Helvetica;
 color:#0066ff;
 font-size:20px;
}
img{
 height:300px;
 width:350px;
 border:2px dashed #000099;
}
body{
 background-color:#ccffff;
}
a{
 color:red;
}
a:hover{
 font-family:Verdana;
 color:purple;
}
div{
 border-radius:10px;
 border:1px dotted #ff8c1a;
}
