div{
 font-family:"Times New Roman";
 color: orange;
 border-style: dotted;
 text-align:auto;
}
p{
 font-family:Helvetica;
 color:green;
}
img{
 height:300px;
 width:350px;
 border:2px dashed #ffff99;
}
body{
 background-color:#ccffff;
}
